<div class="d-flex justify-content-center text-center p-4">
  <%= form_for(@post) do |form| %>
  <%= form.label :content, class: 'text' %>
  <%= form.text_field :content, id: :post_content, size: 70, class: 'form-control', placeholder: 'Add New Post' %>
  <%= display_errors(@post) %>
  <%= form.submit 'Save', class: 'btn btn-primary mt-2' %>
<% end %>
</div>

<article class="timeline">
  <h3>
    Recent posts
  </h3>
  <ul class="posts">
    <%= render @timeline_posts %>
  </ul>
</article>
